.project_details {
    padding-top: 2em;
    padding-bottom: 2em;
}

.project_details h1,
.project_details h2,
.project_details p {
    margin-bottom: 0.5em;
}

.project_details h1 {
    background-color: #222;
    color: #FFBB33;
    padding: 0.4em;
}

.project_details span {
    font-weight: bold;
}

.details_container,
.service_form_container {
    border-bottom: 1px solid #7A7A7A;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    background-color: #222;
    color: #FFF;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    max-height: 40px;
    border: none;
}

.btn:hover {
    color: #FFBB33;
}

.project_info {
    width: 100%;
}

.progressBar {
    width: 200px;
    display: block; /* default: inline-block */
    margin-top: 1em;
    padding: 3px;
    /* border: 0 none; */
    border-color: #222;
    background: #efefef;
    border-radius: 14px;
}
.progressBar::-moz-progress-bar {
    border-radius: 12px;
    /*background: #4CAF50;*/
    background: var(--progress-bar-color, #4CAF50);
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .progressBar {
        height: 20px;
    }
}
.progressBar::-webkit-progress-bar {
    background: transparent;
}
.progressBar::-webkit-progress-value {  
    border-radius: 12px;
    /*background: #4CAF50;*/
    background: var(--progress-bar-color, #4CAF50);
}